:root {
  --primary-color: #a8c1dbdc;
  --text-color: #585757;
  --bg-color: #989a9c41;
  --text-shadow: 1px 1px 3px rgba(100, 110, 120, 0.5);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  text-shadow: var(--text-shadow);
  background-color: var(--bg-color);
}

.swiper,
.swiper-slide,
.swiper-slide img {
  height: 100%;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide img {
  object-fit: cover;
}

.couple-info {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  z-index: 10;
}

.couple-info h2 {
  font-family: 'Merienda', cursive;
  font-weight: bold;
}

.couple-info p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.welcome {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.welcome h2 {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.welcome h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}
.welcome p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/asset/img/bg-1.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  background-color: var(--bg-color);
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
}

.hero h5 {
  font-family: 'Edu VIC WA NT Hand', cursive;
  font-weight: 500;
}

.hero h1 {
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

.hero h6 {
  font-family: 'Libertinus Sans', serif;
  font-weight: 400;
}

.hero h4 {
  font-family: 'Libertinus Sans', serif;
  font-weight: 700;
  font-style: italic;
  color: var(--text-color);
}

.hero a {
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}
.hero a:hover {
  color: var(--primary-color);
}

.hero hr {
  border: 1px solid var(--primary-color);
  margin: 5px 0;
}
/* end hero */

.countdown {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.countdown h5 {
  font-family: 'Edu VIC WA NT Hand', cursive;
  font-weight: 500;
}

.countdown h1 {
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

.countdown h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
/* end countdown */

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Makes it act as background */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideshow 15s infinite;
}

.slide:nth-child(1) {
  background-image: url('/asset/img/1.jpg');
  animation-delay: 0s;
}

.slide:nth-child(2) {
  background-image: url('/asset/img/2.jpg');
  animation-delay: 5s;
}

.slide:nth-child(3) {
  background-image: url('/asset/img/3.jpg');
  animation-delay: 10s;
}
.slide:nth-child(4) {
  background-image: url('/asset/img/4.jpg');
  animation-delay: 15s;
}

@keyframes slideshow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  38% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
/* end slideshow cooldown */

#lightgallery {
  column-count: 3;
  column-gap: 10px;
}

.gallery-item {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#gallery h2 {
  font-family: 'Merienda', cursive;
}

#event .event-container .card {
  width: 30rem;
  border: 1px solid #ccc;
  border-radius: 50px 0 0 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
}

#event .event-container .card img {
  width: 100%;
  display: block;
  border-radius: 50px 0px 0 0;
}

#event .event-container h1 {
  font-family: 'Edu VIC WA NT Hand', cursive;
  font-weight: 700;
  color: var(--text-color);
}

#event .event-container hr {
  border: none;
  height: 4px;
  width: 100px;
  flex-grow: 1;
  max-width: 200px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(43, 42, 42, 0.7),
    transparent
  );
}

#event .event-container .card .card-content {
  display: flex;
  border-top: 1px solid #ddd;
}

#event .event-container .card .card-content .title-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

/* text-shadow 2px 2px 8px rgba(0, 0, 0, 0.6); */

#event .event-container .card .description-date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#event .event-container .card .description-date .date-number {
  font-weight: bold;
  line-height: 1;
}

#event .event-container .card .description-date .date-text {
  color: var(--text-color);
}

#event .event-container .card .description-date h2 {
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

#event .event-container .card .description-date p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

#event .event-container .card .card-content h3 {
  font-family: 'Edu VIC WA NT Hand', cursive;
  font-weight: 700;
  color: var(--text-color);
}

/* media queries */
@media (max-width: 992px) {
  body {
    font-size: 1rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h4 {
    font-size: 1.5rem;
  }

  #event .event-container .card {
    width: 30rem;
  }

  html {
    font-size: 95%;
  }

  #event .event-container .card .card-content .title-vertical {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }

  #lightgallery {
    column-count: 2;
  }
  #event .event-container .card {
    width: 85%;
  }

  #event .event-container .card .card-content .title-vertical {
    padding: 6px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 75%;
  }

  #lightgallery {
    column-count: 1;
  }

  #event .event-container .card {
    width: 55%;
  }

  #event .event-container .card .card-content .title-vertical {
    padding: 2px;
  }
}
